<div class="container">
  <div class="jumbotron">
    <h1 class="text-center mt-n4">Reactive Forms (<strong>Formulários Reativos</strong>) </h1>

    <div class="text-center">
      <img alt="Exemplo Reactive Form" class="container-fluid" src="/assets/reactive-forms.gif"/>
    </div>

    <h4 class="mt-5">Uma breve explicação</h4>
    <p>
      Os formulários reativos ajudam nas validações das informações que serão inseridas nos campos do formulário.
      Com o auxílio deles podemos colocar ou retirar a obrigatoriedade (ou qualquer outro tipo de validação)
      dos campos do formulário, ou seja, com os formulários reativos nosso relacionamento formulários será bem mais
      fácil.

      <br>
      Para maiores explicações acesse o site <a href="https://angular.io/guide/reactive-forms" target="_blank">
      Reactive Forms - Angular</a>.
    </p>

    <h4 class="mt-5">Qual o objetivo dessa série de tutoriais?</h4>
    <p>
      Nosso objetivo é mostrar como construir os formulários de uma forma que <strong>"talvez"</strong> você ainda não
      tenha pensado, com uma solução que poderá facilitar ainda mais o uso dos formulários reativos. Nós Queremos
      facilitar
      sua vida assim como a nossa foi facilitada ao implementarmos a solução que iremos lhes apresentar.

      <br>
      Em primeiro momento iremos começar com um <strong>formulário bem simples</strong>, assim forma poderemos entender
      melhor como funciona essa tal solução.
      Disponibilizaremos alguns tutoriais onde nossa premissa é ir do mais simples ao mais avançado, por este motivo
      ajeite-se na cadeira, busque uma garrafa d'água e bora estudar.
    </p>

    <p>
      Para começarmos navegue para a página <strong>Formulário Simples</strong> que é o primeiro tutorial desta série,
      através
      do nosso menu, mas se tiver com preguiça <a [routerLink]="['/fomulario-simples']">clique aqui! </a>
      <span class="material-icons">sentiment_very_satisfied</span>
    </p>
  </div>
</div>
