<div class="container">
  <div class="jumbotron">
    <h1 class="text-center mt-n4">Reactive Forms (<strong>Formulários Reativos</strong>) </h1>

    <div class="text-center">
      <img alt="Exemplo Reactive Form" class="container-fluid" src="/assets/reactive-forms.gif"/>
    </div>

    <h4 class="mt-5">Uma breve explicação</h4>
    <p>
      Os formulários reativos ajudam nas validações das informações que serão inseridas nos respectivos campos do
      formulário. Com o auxílio dele podemos colocar ou retirar a obrigatoriedade (ou qualquer outro tipo de validação)
      de campos do formulário, ou seja, com eles nosso relacionamento com os formulários será bem mais fácil.

      <br>
      Para maiores explicações acesse o site <a href="https://angular.io/guide/reactive-forms" target="_blank">Angular
      - Reactive Forms</a>.
    </p>

    <h4 class="mt-5">Qual o objetivo dessa série de tutoriais?</h4>
    <p>
      Nosso objetivo é mostrar como construir os formulários de uma forma que <strong>"talvez"</strong> você ainda não
      tenha pensado, com
      uma solução que poderá facilitar mais ainda o uso dos formulários reativos. Queremos facilitar sua vida assim como
      a nossa foi facilitada ao implementar a soluções que iremos apresentar a vocês.

      <br>
      Em primeiro momento iremos começar com um <strong>formulário simples</strong> assim poderemos entender bem como
      funciona
      essa tal solução ☢️. Disponibilizaremos tutoriais onde nossa premissa é ir do mais simples ao mais avançado, por
      este motivo
      ajeite-se na cadeira, busque uma garrafa d'água e bora Estudar. 📚
    </p>

    <p>
      Navegue para a página <strong>Formulário Simples</strong> através do nosso menu, mas se tiver com preguiça
      <a href="/fomulario-simples">clique aqui! 🤪</a>
    </p>
  </div>
</div>
